.container {
  padding-top: 4px;
  padding-bottom: 4px;
}
.data-item {
  box-sizing: border-box;
  display: block;
  border-width: 1px;
  border-color: var(--color-gray-800);
  border-style: solid;
  border-radius: 8px;
  width: 100%;
  padding: 8px;
}

.data-item-title {
  font-size: 18px;
  font-weight: 600;
  color: var(--color-gray-600);
}

.data-item-slot {
  font-size: 24px;
}
